html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-decoration: none;
    max-width: 450px;
    text-align: center;
    box-shadow: 1px 2px 15px rgba(72, 72, 72, 0.2);
    color: #555555;
    background-color: #EAEAEA;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-0 {
    padding-top: 0px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-0 {
    padding-bottom: 0px;
}

.plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}


/*-------------------------------- padding end ----*/

.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mlr-0 {
    margin-left: 0px;
    margin-right: 0px;
}


/* End of margin */

.text-upper {
    text-transform: uppercase;
}


/* End of globle css */


/* Start design 1  */

.vjAkhuContainer {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

.vjCover {
    background-color: #28A499;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    height: 180px;
    z-index: -1;
}

.vjCoverwhite {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgba(72, 72, 72, 0.2);
    z-index: 99;
    margin-top: -165px;
}

.leadbriefcasetext {
    font-size: 22px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.7px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 12px;
}

.vjUserPhoto {
    width: 110px;
    height: auto;
    border-radius: 110px;
    border: 4px solid white;
    background-color: white;
    margin-top: 35px;
    box-shadow: 1px 2px 20px rgba(72, 72, 72, 0.2);
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: #444444;
    letter-spacing: 0.6px;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 20px;
}

.vjProfession {
    color: #666666;
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.vjCTAheading {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    border-left: 5px solid #28A499;
    padding-left: 10px;
    line-height: 38px;
    background-color: white;
    color: #666666;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.vjCTAinfobox {
    display: inline-block;
    width: 70px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.vjctamaintext {
    color: #666666;
    text-decoration: none;
    font-size: 13px;
}

.vjCTAimage {
    display: block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(72, 72, 72, 0.2);
    border-radius: 100px;
    margin-bottom: 10px;
    line-height: 40px;
    color: white;
    background-color: #28A499;
    border: 2px solid white;
}

.vjShareContainer {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin: 2px;
    background-color: #28A499;
    box-shadow: 1px 1px 5px rgba(72, 72, 72, 0.2);
    border-radius: 35px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.vjsocialLink {
    color: white;
    vertical-align: middle;
    font-size: 18px;
    line-height: 35px;
}

.vjcopyrightcontainer {
    height: 20px;
    background-color: #28A499;
    min-width: 100%;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 11px;
    letter-spacing: 0.5px;
}

.vjNoDecoration {
    text-decoration: none;
    color: #ffffff;
}

.vjcopyrights {
    color: white;
    text-decoration: none;
    line-height: 20px;
    font-size: 11px;
    letter-spacing: 0.5px;
}

.vjFooterBranding {
    height: 80px;
    background-image: url(vjimages/coverbg.png);
    width: 100%;
}

.vjGolIcon {
    color: white;
    vertical-align: middle;
    font-size: 18px;
}

.vjFooterSignup {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: #28A499;
    color: white;
    box-shadow: 1px 2px 10px rgba(107, 128, 168, 0.2);
    letter-spacing: 0.4px;
    border: 2px solid white;
    width: 110px;
}

.vjJagya5 {
    padding-top: 5px;
}

.vjJagya10 {
    padding-top: 10px;
}

.vjJagya15 {
    padding-top: 15px;
}

.vjJagya20 {
    padding-top: 20px;
}

.vjJagya30 {
    padding-top: 30px;
}

.vjJagya40 {
    padding-top: 40px;
}

.vjfloatBottomRightBttn {
    position: fixed;
    bottom: 0;
    width: 80px;
    height: 30px;
    bottom: 20px;
    right: 20px;
    background-color: #e2927c;
    color: #FFF;
    border-radius: 50px;
    border: 2px solid white;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    box-shadow: 1px 2px 10px rgba(107, 128, 168, 0.2);
}


/* End of design 1  */


/* Start popup modal section */


/* Start popup modal section */

.modal-dialog {
    min-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
}

.modal,
.modal-open {
    padding-right: 0 !important;
}

.modal-footer,
.modal-header {
    justify-content: center;
}

body.modal-open {
    overflow: hidden;
}


/* End of popup modal section */


/* End of popup modal section */