html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    /*max-width: 450px; */
    box-shadow: 1px 2px 15px rgba(72, 72, 72, 0.2);
    color: #333;
    border: 10px solid #005596;
    max-width: 450px;
    width: 100%;
    margin: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.pt-60 {
    padding-top: 60px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-0 {
    padding-top: 0px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-0 {
    padding-bottom: 0px;
}

.plr-0 {
    padding-left: 0px;
    padding-right: 0px;
}


/*-------------------------------- padding end ----*/

.mt-60 {
    margin-top: 60px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-0 {
    margin-top: 0px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mlr-0 {
    margin-left: 0px;
    margin-right: 0px;
}


/* End of margin */

.text-upper {
    text-transform: uppercase;
}

.btn1 {
    display: inline-block;
    padding: 8px;
    outline: 0 !important;
    border: 0;
    background: #005596;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
}

a:hover {
    color: #badbf3;
    text-decoration: underline;
}


/* End of globle css */


/* Start design   */

.vCardWrapper {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-decoration: none;
    /*max-width: 550px;*/
    width: 100%;
    box-shadow: 1px 2px 15px rgba(72, 72, 72, 0.2);
    color: #555555;
    font-size: 14px;
}


/* Start vcard carousel section */

.vcard_carousel_Sec img {
    width: 100%;
}

.carousel-indicators li {
    background-color: #005596;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #005595;
    border-radius: 50%;
}


/* End of vcard carousel section */


/* Start bottom header section  */

.profile-header {
    min-height: 93px;
    -moz-box-shadow: 0 15px 25px -15px #ccc;
    -webkit-box-shadow: 0 15px 25px -15px #ccc;
    box-shadow: 0 15px 25px -15px #ccc;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    -moz-box-shadow: 0 15px 25px -15px #ccc;
    -webkit-box-shadow: 0 15px 25px -15px #ccc;
    box-shadow: 0 15px 25px -15px #ccc;
    border-top: 20px solid #005596;
    height: 136px;
}

.profile-header .profile_img {
    width: 122px;
    border: 5px solid #ccc;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-header .profile_img img {
    width: 100%;
    border-radius: 50%;
}

.profile-header h4 {
    font-size: 5vw;
    margin-bottom: 5px;
}

.profile-header address {
    font-size: 3vw;
    margin-bottom: 0;
}


/* End of bottom header section  */


/* Start Seprator section  */

.sepr {
    height: 1px;
    margin: 5px 0;
    float: left;
}

#sepr-left {
    width: 10%;
    background-image: linear-gradient(to left, #ccc, #fff);
}

#sepr-center {
    width: 80%;
    background-color: #ccc;
}

#sepr-right {
    width: 10%;
    background-image: linear-gradient(to right, #ccc, #fff);
}


/* End of Seprator section  */


/* Start icons section  */

.icons {
    margin-bottom: 10px;
    box-shadow: 0 14px 15px -15px #000;
    padding-bottom: 5px;
}

.icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.icons ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.icon-single {
    /* margin: 5px 5px; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #005596;
    border: 5px solid #badbf3;
    padding-top: 2px;
    line-height: 34px;
}

.icon-single a {
    color: #fff;
    font-size: 19px;
}


/* End of icons section  */


/* Start Main icons section  */

#main-icon {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0px;
}

#main-icon div {
    width: 50%;
}

#main-icon h5 {
    margin-bottom: 5px;
    font-size: 5vw;
}

#main-icon h5 i {
    color: #005596;
}

#main-icon>div:not(:first-child) {
    border-left: 1px solid #ccc;
}

#main-icon>div:not(:last-child) {
    border-right: 1px solid #ccc;
}

#main-icon span {
    color: #000;
    font-size: 3vw;
    margin: 0 auto;
    display: block;
}


/* End of Main icons section  */


/* Solution section  */

.Soltionsec span {
    color: #005596;
}


/* End of Solution section  */


/* download brochure section */

.bro-down {
    background: #ece9e9;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.bro-down img {
    max-width: 180px;
    width: 100%;
}

.bro-down h4 {
    font-size: 16px;
    padding-top: 10px;
}


/* End of download brochure section */


/* Start content information section  */

.contentinfo {
    background: #eee;
    padding: 15px;
}

#accordion {
    /* margin: 50px auto;
width: 75%; */
}

#accordion .question {
    background: #fff;
    margin-bottom: 6px;
}

#accordion .question header {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#accordion .question header h3 {
    margin: 0;
    font-weight: 500;
    -webkit-box-flex: 1;
    flex: 1;
    font-size: 20px;
}

#accordion .question header h3 span {
    color: #005596;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

#accordion .question header i {
    padding: 0 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

#accordion .question main {
    display: none;
    padding: 15px;
    box-sizing: border-box;
}

#accordion .question.active header i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

code {
    display: block;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
}


/* End of content information section  */


/* Start services list section  */

.services_list {
    width: 50%;
    float: left;
    padding-left: 30px;
}

.services_list li {
    position: relative;
    margin-bottom: 8px;
}

.services_list li:before {
    position: absolute;
    left: -16px;
    border-top: 4px solid transparent;
    border-left: 8px solid #005596;
    border-bottom: 5px solid transparent;
    content: "";
    top: 6px;
}


/* End of services list section  */

.aboutbox p {
    text-align: justify;
}


/* Start gallery section  */

.gallerbox img {
    margin-bottom: 20px;
}


/* End of gallery section  */


/* make payment and google review section  */

.btnsec {
    text-align: center;
    display: flex;
    justify-content: space-around;
}


/* End of make payment and google review section  */


/* Start share modal section */

.sharbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sharbox div {
    width: 80px;
    border: 1px solid #ccc;
    height: 80px;
    margin: 5px;
    border-radius: 7px;
    line-height: 65px;
    padding: 5px;
}

.shareModalinner h4 {
    font-weight: normal;
    font-size: 18px;
}

.sharbox div img {
    width: 100%;
    max-width: 80px;
    margin: auto;
}

#ShareModal .modal-header {
    background: #005596;
}

#ShareModal .modal-title {
    text-align: center;
    width: 100%;
    color: #fff;
}

#ShareModal .modal-footer {
    justify-content: center;
}


/* Endof  share modal section */


/* Social Media section  */

.social_media {
    text-align: center;
    padding-top: 20px;
}

.social_media ul li {
    display: inline-block;
    padding: 0px 7px;
    border-left: 2px solid #ccc;
}

.social_media ul li a {
    color: #005596;
    font-size: 1.5em;
}

.social_media ul li:first-child {
    border-left: 0;
}


/* End of Media section  */


/* Start Footer Section */

.footerSec p {
    font-size: 0.6em;
    margin-bottom: 0;
    padding-bottom: 10px;
}


/* End of Footer Section */


/* End of design   */


/* Start popup modal section */

body.modal-open {
    overflow: hidden;
}


/* End of popup modal section */


/* End of popup modal section */


/* Start media query section */

@media(max-width:475px) {
    .services_list li {
        font-size: 13px;
    }
}

@media(max-width:350px) {
    .icon-single {
        width: 13vw;
        height: 13vw;
        line-height: 9vw;
    }
    .icon-single a {
        font-size: 5vw;
    }
    .services_list li {
        font-size: 3.5vw;
    }
}

@media(max-width:767px) {
    .btn1 {
        width: 45vw;
    }
}

@media(min-width:767px) {
    .profile-header h4 {
        font-size: 2vw;
        margin-bottom: 0;
    }
    .profile-header address {
        font-size: 20px;
    }
    #main-icon h5 {
        margin-bottom: 5px;
        font-size: 1.5vw;
    }
    #main-icon span {
        font-size: 14px;
    }
    .footerSec p {
        font-size: 13px;
    }
}


/* End of media query section */